<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
 version="6.0"
metadata-complete="true">

<description>MyWebRock</description>
<display-name>MyWebRock</display-name>

<servlet>
<servlet-name>MyWebRockStarter</servlet-name>
<servlet-class>com.webrock.JWebRockStarter</servlet-class>
<init-param>
<param-name>SERVICE_PACKAGE_PREFIX</param-name>
<param-value>bobby</param-value>
</init-param>
<init-param>
<param-name>jsFile</param-name>
<param-value>student.js</param-value>
</init-param>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet>
<servlet-name>MyWebRock</servlet-name>
<servlet-class>com.webrock.JWebRock</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyWebRock</servlet-name>
<url-pattern>/framework/*</url-pattern>
<load-on-startup>2</load-on-startup>
</servlet-mapping>
<servlet>
<servlet-name>Raka</servlet-name>
<servlet-class>com.webrock.Raka</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Raka</servlet-name>
<url-pattern>/jsFile</url-pattern>
</servlet-mapping>

</web-app>
